<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- jQuery -->
  <script src="/public/javascripts/jquery-3.6.1.min.js"></script>
  <!-- jQuery UI-->
  <script type="text/javascript" src="/public/javascripts/jquery-ui-1.12.0.min.js"></script>
  <link rel="stylesheet" href="/public/stylesheets/jquery-ui-1.12.0.css">
  <!-- jQuery dataTables-->
  <script src="/public/javascripts/jquery.dataTables-1.13.1.min.js"></script>
  <!-- Bootstrap css-->
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/bootstrap-5.0.2/bootstrap.min.css">
  <script src="/public/javascripts/bootstrap-5.0.2/bootstrap.bundle.min.js"></script>
  <scrypt src="/public/javascripts/dataTables.bootstrap5-1.13.1.min.js"></scrypt>
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/dataTables.bootstrap5.min.css">
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/style.css">
  <title>IPFS</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/" draggable="false">IPFS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/register" draggable="false">新規登録</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login" draggable="false">ログイン</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container my-5 p-5 border rounded">
    <div class="id">
      <small>ユーザーID</small>
      <h3 class="pb-4" style="position: relative; display: flex;">
        <div>
          <%= id %>
        </div>
        <div class="btn-group dropend" style="margin-left: 5px;">
          <button type="button" class="btn btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <svg focusable="false" viewBox="0 0 16 16" height="16px" width="16px" fill="#5f6368">          
              <g>
                <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"></path>
              </g>
            </svg>      
          </button>      
           <ul class="dropdown-menu">        
             <li>          
              <label class="dropdown-item">
                ログアウト
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#logout-modal" hidden></button>          
              </label>        
            </li>      
          </ul>    
        </div>
      </h3>
    </div>
    <div class="loader" style="text-align: center;">
      <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status"></div>
      </div>
      <div>
        <strong>Loading...</strong>
      </div>
    </div>
    <div class="contents" style="display: none;">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/user/<%= id %>">ファイル</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/<%= id %>/share">共有ファイル</a>
        </li>
      </ul>
      <div class="row">
        <div class="col-9 text-break">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page">
                <a href="/user/<%= id %>" draggable="false">home</a>
                <a id="path" draggable="false"></a>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-3">
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <!-- Button trigger modal -->
              <button type="button" id="remove-btn" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#remove-modal" style="display: none;">
                削除
              </button>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false"></a>
              <ul class="dropdown-menu">
                <li>
                  <label class="dropdown-item">
                    ファイルを追加
                    <input type="file" class="dropdown-item" id="add-file" name="add-file" hidden multiple/>
                  </label>
                </li>
                <li>
                  <label class="dropdown-item" id="add-dir">
                    ディレクトリを追加
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#dir-modal" hidden></button>
                  </label>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <hr>
        <div class="col-12">
          <table class="table table-sm table-hover table-radius drop-area" id="content-list">
            <thead class="bg-dark" style="color: white">
              <tr>
                <th class="th-sm text-center"></th>
                <th class="th-sm"></th>
                <th class="th-sm" id="th-file-name">ファイル名</th>
                <th class="th-sm"></th>
              </tr>
            </thead>
            <tbody class="files">
  
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- 処理中 Modal -->
  <div class="modal fade" id="processing-modal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status"></div>
          </div>
          <div class="text-center">
            処理中...。
          </div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
  <!-- ログアウト Modal -->
  <div class="modal fade" id="logout-modal" tabindex="-1" aria-labelledby="logout-confirm" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="logout-confirm">ログアウト</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="text-center">
            ログアウトしますか？
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
          <a type="button" class="btn btn-primary" href="/logout">ログアウト</a>
        </div>
      </div>
    </div>
  </div>
  <!-- ディレクトリアップロード未対応 Modal -->
  <div class="modal fade" id="alert-dir" tabindex="-1" aria-labelledby="drop-dir" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="drop-dir">ディレクトリアップロード</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="text-center">
            ディレクトリのアップロードには対応していません...。
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
  <!-- ディレクトリ作成 Modal -->
  <div class="modal fade" id="dir-modal" tabindex="-1" aria-labelledby="input-dir-name" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="input-dir-name">ディレクトリ作成</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="dir" class="col-form-label">ディレクトリ名</label>
              <input type="text" class="form-control" id="dir-name" autocomplete="off">
              <div class="alert alert-danger text-center" id="dir-alert" role="alert" style="padding: 0; margin-top: 5px;" hidden>
                ディレクトリ名を入力してください。
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
          <button type="button" class="btn btn-primary" id="make-dir" disabled>作成</button>
        </div>
      </div>
    </div>
  </div>
  <!-- ファイル削除 Modal -->
  <div class="modal fade" id="remove-modal" tabindex="-1" aria-labelledby="remove-confirm" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="remove-confirm">削除</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="text-center">
            選択した項目を削除しますか？
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
          <button type="button" class="btn btn-danger" id="remove">削除</button>
        </div>
      </div>
    </div>
  </div>
  <!-- ファイル共有 Modal -->
  <div class="modal fade" id="share-modal" tabindex="-1" aria-labelledby="file-share" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="overflow-y: initial !important">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="file-share">ファイル共有</h5>
          <div id="modal-cid" hidden></div>
          <div id="modal-content-name" hidden></div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="height: 300px; overflow-y: auto;">
          <form>
            <div class="mb-3">
              <label for="dir" class="col-form-label">共有相手（ID）</label>
              <input type="text" class="form-control" id="share-target" autocomplete="off">
              <table class="table table-sm table-hover table-radius drop-area" id="users-table" style="margin-top: 10px; display: none;">
                <tbody id="search-users">

                </tbody>
              </table>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
          <button type="button" class="btn btn-primary" id="share" disabled>共有</button>
        </div>
      </div>
    </div>
  </div>
  <!-- ファイル共有完了 Modal -->
  <div class="modal fade" id="share-complete-modal" tabindex="-1" aria-labelledby="share-complete" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="share-complete">共有完了</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="text-center">
            ファイルの共有が完了しました。
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
</body>
<script>
  const userID = "<%= id %>";
  const data = JSON.parse('<%- JSON.stringify(data) %>');
  const pageUrl = location.href;
  const currentPath = pageUrl.substring(pageUrl.indexOf("directories/")).replace("directories/", "");
  const japanese = {
    "emptyTable": "コンテンツがありません。",
    "info": " _TOTAL_ 件中 _START_ から _END_ まで表示",
    "infoEmpty": " 0 件中 0 から 0 まで表示",
    "infoFiltered": "（全 _MAX_ 件より抽出）",
    "infoThousands": ",",
    "lengthMenu": "_MENU_ 件表示",
    "loadingRecords": "読み込み中...",
    "processing": "処理中...",
    "search": "検索:",
    "zeroRecords": "一致するコンテンツはありません。",
    "paginate": {
      "first": "先頭",
      "last": "最終",
      "next": "次",
      "previous": "前"
    },
    "aria": {
      "sortAscending": ": 列を昇順に並べ替えるにはアクティブにする",
      "sortDescending": ": 列を降順に並べ替えるにはアクティブにする"
    },
    "thousands": ",",
    "buttons": {
      "colvis": "項目の表示\/非表示",
      "csv": "CSVをダウンロード"
    },
    "searchBuilder": {
      "add": "条件を追加",
      "button": {
        "0": "カスタムサーチ",
        "_": "カスタムサーチ (%d)"
      },
      "clearAll": "すべての条件をクリア",
      "condition": "条件",
      "conditions": {
        "date": {
          "after": "次の日付以降",
          "before": "次の日付以前",
          "between": "次の期間に含まれる",
          "empty": "空白",
          "equals": "次の日付と等しい",
          "not": "次の日付と等しくない",
          "notBetween": "次の期間に含まれない",
          "notEmpty": "空白ではない"
        },
        "number": {
          "between": "次の値の間に含まれる",
          "empty": "空白",
          "equals": "次の値と等しい",
          "gt": "次の値よりも大きい",
          "gte": "次の値以上",
          "lt": "次の値未満",
          "lte": "次の値以下",
          "not": "次の値と等しくない",
          "notBetween": "次の値の間に含まれない",
          "notEmpty": "空白ではない"
        },
        "string": {
          "contains": "次の文字を含む",
          "empty": "空白",
          "endsWith": "次の文字で終わる",
          "equals": "次の文字と等しい",
          "not": "次の文字と等しくない",
          "notEmpty": "空白ではない",
          "startsWith": "次の文字から始まる",
          "notContains": "次の文字を含まない",
          "notStartsWith": "次の文字で始まらない",
          "notEndsWith": "次の文字で終わらない"
        }
      },
      "data": "項目",
      "title": {
        "0": "カスタムサーチ",
        "_": "カスタムサーチ (%d)"
      },
      "value": "値"
    }
  }
  const table = $("#content-list").DataTable({
    destroy: true,
    info: false,
    paging: false,
    order: [2, "asc"],
    columnDefs: [
      { targets: [0, 1, 3], orderable: false }
    ],
    language: japanese
  });
</script>
<script src="/public/javascripts/user.js"></script>

</html>